footer.footer
	.box
		.footer-content
			span(class="footer-copyright") © СК ООО «ЭТАЛОНЪ
			span(class="footer-bussines-numbers") ИНН: 7722526444, ОГРН: 1047796735711
			a(href="/" class="footer-politics") Политика конфиденциальности