header.header
    .box
      .header-content
        a(href="/3" class="header__name")
            span(class="header__name-text name") эталон
            .header__logo
              .header__logo-circle
                span(class="header__logo-text") Ъ
            span(class="header__name-text") Строительство хамамов и СПА-зон
        .header__contacts
          .callback-container
            button(class="header__contacts-callback" id="callback-btn-js")
              span Заказать звонок
            .callback-form#call-back-form-js
              form(method="post" id="form-callback")
                input(type="text" class="callback-form__input" name="phone" placeholder="+7 (999) 803-18-51" autocomplete="off")
                button(type="submit" class="callback-form__submit-btn")
                  span Заказать звонок
          .header__contacts-phones
            a(href="tel:74957452703" class="header__contacts-phone") +7 (495) 745-27-03
            a(href="tel:79852103168" class="header__contacts-phone") +7 (985) 210-31-68