doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(type="text/css", href="css/libs.min.css", rel="stylesheet")
    link(type="text/css", href="css/jquery-ui.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Exo|Exo+2:300,400,500,600,700|Open+Sans:400,600,700&display=swap&subset=cyrillic" rel="stylesheet")
    link(type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet")
    link(type="text/css", href="css/main.css", rel="stylesheet")
    title Ethalon Landing
  body
    #overlay
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src="js/jquery-ui.min.js")
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript")
    script(src="js/pool.js")
    script(src="js/common.js")