extends blocks/_layout
append content
	main.main
		.box
			.main-content
				h1(class="main-content__title") Получите автоматический расчет <br/> стоимости строительства хаммама за 1 минуту
				span(class="main-content__subtitle") Пройдите короткий опрос и получите скидку на <br/> комплект оборудования
				button(class="how-it-cost" id="how-it-cost-js") Узнать стоимость